server:
  port: 8787

spring:
  application:
    name: ms-account
  devtools:
    remote:
      restart:
        enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

openapi:
  service:
    title: ms-account doc
    version: 1.0.0
    url: http://localhost:8020
springdoc:
  api-docs:
    path: /MS-ACCOUNT/v3/api-docs
  swagger-ui:
    path: /MS-ACCOUNT/swagger-ui.html
