server:
  port: 8989

spring:
  application:
    name: MS-USER
  devtools:
    remote:
      restart:
        enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
    prefer-ip-address: true

openapi:
  service:
    title: MS-USER doc
    version: 1.0.0
    url: http://localhost:8020
springdoc:
  api-docs:
    path: /MS-USER/v3/api-docs
  swagger-ui:
    path: /MS-USER/swagger-ui.html
